@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

:root {
  --primary-color: #4b352a;
  --secondary-color: #fff8e8;
  --black: #0c0c0c;
  --white: #ffffff;

  --secondary-variant-1: rgba(255, 248, 232, 1);

  --logo-font: "Tangerine", cursive;
  --text-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-font {
  font-family: var(--logo-font);
}

html {
  scrollbar-width: thin;
}

body {
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--text-font);
  overflow-y: none;
  overflow-x: hidden;
}

button {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  padding: 10px 10px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

input:focus,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.main-container {
  position: relative;
  width: 100%;
  max-width: 1420px;
}

.box-container {
  width: 35vw;
  height: 65vh;
  top: 100px;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
  border-radius: 40px;
  rotate: -64deg;
  opacity: 1;
}

.box-dim {
  opacity: 0.1;
}

.icon {
  width: 25px;
  height: 25px;
}

.toast {
  position: fixed;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 200px;
  font-size: 16px;
  animation: toast 200ms ease-out;
}

@keyframes toast {
  from {
    top: -20%;
  }
  to {
    top: 0;
  }
}

.header {
  width: 100vw;
  height: 80px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;

  h3 {
    color: #4b352a;
    font-size: 45px;
    font-family: var(--logo-font);
  }
}

.nav-actions {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;

  a {
    color: var(--primary-color);
    font-size: 18px;
    text-transform: capitalize;
  }
}

.header-btn {
  display: flex;
  gap: 20px;
}

.dashboard-main {
  width: 100%;
  height: 89vh;
  display: flex;
  justify-content: center;

  .main-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 50px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 35%;
    gap: 20px;
    color: var(--black);

    .icon {
      width: 200px;
      height: 200px;
    }

    button {
      width: 150px;
    }
  }

  .right {
    width: 65%;
    gap: 10px;

    h1 {
      font-size: 45px;
    }
    p {
      font-size: 20px;
    }

    .icon {
      width: 120px;
      height: 120px;
    }

    h1 span {
      font-size: 60px;
    }
  }
}

.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 25px;

  h2 {
    font-weight: 400;
    font-size: 35px;
  }

  a {
    color: var(--white);
  }

  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--secondary-color);
    width: 400px;
    padding: 2px 2px;
    font-size: 20px;
    color: var(--white);

    &::placeholder {
      color: var(--secondary-color);
      opacity: 0.5;
    }
  }

  button {
    background-color: var(--secondary-color);
    color: var(--black);
    font-size: 18px;
    width: 200px;

    &:hover {
      scale: 1.01;
    }
  }
}

.diary-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.diary-field {
  width: 100%;
  height: fit-content;

  form {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
    padding: 0px 50px;

    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--secondary-color);
      font-size: 18px;
      font-family: var(--text-font);
      color: var(--secondary-color);
      width: 85%;
      padding: 5px 2px;
      resize: none;
      overflow: hidden;
      min-height: 30px;
      line-height: 1.6;
      transition: height 0.15s ease;

      &::placeholder {
        color: var(--secondary-color);
        opacity: 0.6;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: var(--secondary-color);
      color: var(--black);
      font-size: 18px;
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        scale: 1.01;
      }
    }

    button.cancel-edit-btn {
      width: 40px;
      height: 40px;
    }
  }
}

.search-bar-section {
  display: flex;
  width: 100%;
  padding: 0px 50px;
  justify-content: end;

  form {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;

    input {
      width: 200px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--secondary-color);
      color: var(--secondary-color);
      font-size: 16px;
      font-family: var(--text-font);
      padding: 5px 2px;

      &::placeholder {
        color: var(--secondary-color);
        opacity: 0.6;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: var(--secondary-color);
      color: var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;

      &:hover {
        scale: 1.01;
      }
    }
  }
}

.diary-list-section {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 30px;

  .diary-entry {
    width: 100%;
    background-color: var(--secondary-variant-1);
    opacity: 80%;
    color: var(--black);
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .content {
      color: var(--black);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 15px;
      -webkit-line-clamp: 2;
      line-clamp: 2;

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
      }
    }

    .diary-entry-btn {
      display: flex;
      gap: 15px;
    }

    button {
      background-color: var(--primary-color);
      color: var(--black);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;

      &:hover {
        scale: 1.01;
      }
    }
  }

  .viewmode-diary-section {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 25px;
    color: #0c0c0c;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .viewmode-diary-head {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 20px;
      -webkit-line-clamp: 1;
      line-clamp: 1;

      h3 {
        font-size: 26px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        text-overflow: ellipsis;
        color: var(--primary-color);
      }

      .viewmode-diary-btns {
        display: flex;
        gap: 10px;

        button {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--primary-color);
        }

        button.close-btn {
          background-color: transparent;
          padding: 0;
        }
      }
    }

    .viewmode-diary-main p {
      font-size: var(--text-font);
      letter-spacing: 1.4;
      color: var(--black);
      line-height: 1.7;
    }
  }
}
